#movieTitleSearch{
    position: fixed;
    left: 15px;
    width: 280px;
    top: 10px;
}

@media only screen and (max-width: 960px) {
    #movieTitleSearch{
      all:unset;
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 5px;
    }
    .TextField{
        align-self: center;
    }
  }